{% extends "base.html" %}
{% load static %}

{% block title %}免責事項{% endblock %}

{% block content %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>免責事項</title>
</head>
<body>
    <form action="{% url 'app:index' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">戻る</button>
    </form>
    <h1>免責事項</h1>
    <h2>1. 一般的な情報提供について</h2>
    <a>本サイトに掲載されている情報は、一般的な情報提供を目的としています。可能な限り正確で最新の情報を提供するよう努めていますが、その内容の完全性、正確性、信頼性について保証するものではありません。利用者が本サイトの情報を利用した結果について、一切の責任を負いかねます。
    </a>

    <h2>2. 外部リンクについて</h2>
    <a>本サイトには、第三者が運営する外部サイトへのリンクが含まれている場合があります。これらのリンク先の内容や運営について、当サイトは一切の責任を負いません。外部サイトの利用については、利用者ご自身の責任で行ってください。
    </a>

    <h2>3. 技術的な不具合について</h2>
    <a>本サイトは、予告なく内容の変更、削除、または公開を中止する場合があります。また、技術的な問題、メンテナンス、不測の事態によりサービスが一時的に停止する場合があります。これにより発生したいかなる損害についても、一切の責任を負いません。
    </a>

    <h2>4. 法的責任の制限</h2>
    <a>本サイトの利用に関連して発生した直接的または間接的な損害、損失、または費用について、いかなる場合も当サイト運営者は責任を負いません。本免責事項の適用範囲は、適用される法令が認める最大限の範囲までとします。
    </a>

    <h2>5. 利用者の責任</h2>
    <a>本サイトを利用するにあたって、利用者は自己責任で行動するものとします。情報の利用にあたっては、事前に適切な確認を行い、必要に応じて専門家に相談してください。
    </a>

    <h2>6. 知的財産権について</h2>
    <a>本サイトに掲載されているコンテンツ（テキスト、画像、ロゴ、デザインなど）は、特に明記されていない限り、運営者に帰属します。これらのコンテンツを無断で使用、複製、配布することは禁止されています。また投稿（テキスト、画像、動画）の知的財産権は全て投稿者に帰属します。
    </a>

    <h2>7. 改訂について</h2>
    <a>本免責事項は予告なく改訂される場合があります。改訂後の免責事項は、本サイトに掲載された時点で有効になります。
    </a>
</body>
</html>
{% endblock %}