<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Email</title>
</head>
<body>
    <h2>承認用のurlをご登録のメールアドレスに送信致しました。</h2>
    <p>urlを開いた時点でアカウントが承認されます。（このページは閉じても問題ありません）</p>

    
    <p>もしメールが届かないときは<a href="{% url 'app:resend_email' user.id %}">ここをクリック</a>.</p>
    <!-- {% if user.is_authenticated %}
        <p>もしメールが届かないときは<a href="{% url 'app:resend_email' user.id %}">ここをクリック</a>.</p>
    {% else %}
        <p>新しい確認メールをリクエストするにはログインしてください</p>
    {% endif %} -->
</body>
</html>
