{% extends "base.html" %}
{% load elapsed_time %}
{% load static %}

{% block title %}あなたの投稿{% endblock %}

{% block content %}
<div id="content">
<body class="{% if request.COOKIES.mode == 'dark' %}dark{% endif %}">
    <!-- <div class="loading-screen">
        <div class="logo-container">
            <img src="static/images/icon_andicon.png" alt="サイトロゴ" class="logo">
        </div>
    </div> -->

    <section>
    <h2>あなたの投稿</h2>
    <form method="GET" action="{% url 'app:search' %}" class="d-flex flex-row mb-3">
    <div class="col-md-3">
        <input type="text" name="query" id="id_query" class="form-control" placeholder="検索">
    </div>
    <div class="col-md-2">
        <select name="search_type" class="form-select">
            <option value="partial">部分一致</option>
            <option value="prefix">前方一致</option>
            <option value="suffix">後方一致</option>
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-light">🔍</button>
        </div>
    </form>


    <section>
        <ul class="list-unstyled">
            {% for board in boards %}
            <li class="mb-3">
                <div class="card">
                    <div class="card-header bg-light">
            <tr>
                <td scope="col">
                    <a href="{% url 'app:profile' board.user.id %}">
                    {% if board.user.profile.avatar %}
                    <img src="{{ board.user.profile.avatar.url }}" class="avatar">
                    {% else %}
                    <img src="/static/images/blank_avatar.png" class="avatar">
                    {% endif %}
                </a>
                    <a>{{ board.user }}<a>
                    <a>{{ board.created_at|elapsed_time }}</a>
                </td>
                        <div class="card-body">
                        <p class="card-text">
                                <p>
                                    <a href="{% url 'app:show' pk=board.id %}">{{ board.title }}</a>
                                </p>
                                <p>
                                    {% if board.image %}
                                        <div class="index_image-container">
                                            <img src="{{ board.image.url }}" alt="{{ board.title }}">
                                        </div>
                                    {% endif %}
                                </p>
                        </p>
                        </div>
                        <div class="card-footer">
                            <img src="{% static 'images/coments_icon.png' %}" alt="アイコン" width="28">
                            {{ board.comment_count }}
                            
                            {% if user.is_authenticated %}
                            <button
                                type="button" 
                                class="like-button btn {% if board.is_favorite %}btn-primary{% else %}btn-outline-primary{% endif %}" 
                                data-board-id="{{ board.id }}">
                                <i class="bi {% if board.is_favorite %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                                <span>{{ board.favorite_set.count }}</span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="text-muted">コメントはまだありません。</li>
            {% endfor %}
        </ul>
    </section>
    <div class="fixed-buttons">
        <a href="{% url 'app:index' %}" class="btn btn-primary fixed-button">🌎</a>
        <a href="{% url 'app:my_boards' %}" class="btn btn-primary fixed-button">👧</a>
        <a href="{% url 'app:favorite_boards' %}" class="btn btn-primary fixed-button">❤</a>
    </div>
    </section>

    <!-- ぺージネーションのリンク表示 -->
    {% if boards.has_previous %}
    <a href="?page=1">&laquo; 最初</a>
    <a href="?page={{ boards.previous_page_number}}">前へ</a>
    {% endif %}

    <a href="#">ページ {{ boards.number }} / {{ boards.paginator.num_pages }}</a>

    {% if boards.has_next %}
    <a href="?page={{ boards.next_page_number }}">次へ</a>
    <a href="?page={{ boards.paginator.num_pages }}">最後 &raquo;</a>
    {% endif %} 
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/applyResponsiveDesign.js' %}"></script>
    <script src="{% static 'js/welcome_anime.js' %}"></script>
    <script src="{% static 'js/page_anime.js' %}"></script>
    <script src="{% static 'js/AJAX.js' %}"></script>
</body>
</div>

{% endblock %}