/* グローバルリセット */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-position: inside;
}

/* 共通スタイル */
body {
    /* font-size: 16px; */
    color: #363636;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}


/* 背景カラー */
.bg-success {
    background-color: #3688e0 !important;
    color: #363636;
}

/* .bg-secondary{
    Background: #d4ecff;
} */

/* 通常モードのスタイル */
header {
    background-color: rgb(109, 217, 217);
    text-align: center;
    width: 100%;
}

footer {
    width: 100%;
}

main {
    padding: 0 20px;
}

/* ダークモードボタンのスタイル */
#darkmodeBtn {
    background-color: gray;
    color: #222222;
    width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#darkmodeBtn:hover {
    opacity: 0.7;
}

/* ダークモードのスタイル */
.dark {
    background-color: #222222;
    color: rgb(226, 226, 226);
}

.dark header {
    background-color: midnightblue;
}

.dark #darkmodeBtn {
    background-color: silver;
    color: black;
}

/* PC用とスマホ用のレスポンシブスタイル */
.mobile-view {
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

.desktop-view {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}

/* CSS側: <desktop>タグの代わりに .desktop クラスを使ったセレクタに修正 */
.mobile-view .menu .desktop {
    display: none !important; /* モバイルビューでは非表示にする */
}

button.btn.btn-primary {
    padding: 4px 8px; /* 上下10px、左右20px */
}
button.btn.btn-outline-primary {
    padding: 4px 8px; /* 上下10px、左右20px */
}
