* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-position: inside;
}

.bg-success {
    background-color: #3688e0 !important;
    color: #363636;
}

body {
    font-size: 16px;
    color: #363636;
    font-family: "Hiragino kaku Gothic ProN", sans-serif;
}

/* 通常モードのスタイル */
header {
    background-color: cyan;
    text-align: center;
    width: 200%;
    box-sizing: border-box;
}

footer {
    width: 200%;
    box-sizing: border-box;
}

main {
    padding: 0 20px;
}

#darkmodeBtn {
    background-color: gray;
    color: #222222;
    width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#darkmodeBtn:hover {
    opacity: 0.7;
}

/* ダークモードのスタイル */
.dark {
    background-color: #222222;
    color: rgb(226, 226, 226);
}

.dark header {
    background-color: midnightblue;
    text-align: center;
    width: 200%;
    box-sizing: border-box;
}

.dark #darkmodeBtn {
    background-color: silver;
    color: black;
}
