{% extends "base.html" %}
{% load static %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
<h2>プロフィール編集</h2>
<p><a href="{% url 'app:profile' user.id %}" class="btn btn-primary">戻る</a></p>
<p><img src="{{ user.profile.avatar.url|default:'/static/images/blank_avatar.png' }}" alt="User Avatar" class="large_avatar"></p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">保存</button>
</form>
{% endblock %}