{% extends "base.html" %}
{% load static %}

{% block title %}プロフィール画面{% endblock %}

{% block content %}
<body class="dark">
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{{ user.profile.avatar.url|default:'/static/images/blank_avatar.png' }}" alt="User Avatar" class="large_avatar">
            <!-- <img src="{{ user.profile.avatar.url }}" alt="User Avatar"> -->
            <p><h2>{{ user.username }}</h2></p>
            {% if user == request.user %}
                <p>↓この情報は他人には表示されません</p>
                <p>メールアドレス：{{ user.email }}</p>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'app:index' %}" class="btn btn-primary">一覧に戻る</a>
    </section>
    <script src="{% static 'js/darkmode.js' %}"></script>
</body>
{% endblock %}